/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-abr-2020, 22:45:26
    Author     : Ivan
*/

.hbox {
    -fx-background-color: #2f4f4f;
    -fx-relleno: 15;
    -fx-espaciado: 10;
}